.venv/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
venv/

__pycache__/
.DS_Store
.idea/
.vscode/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.ruff_cache/

/Users/saroopmakhija/teamcontext-mcp/backend/teamcontext_backend.egg-info

frontend/node_modules/

teamcontext_backend.egg-info/